<title>About SDS</title>

<div class="page-heading">
  <h1>About Self Directed Support</h1>
</div>

<div class="options" id="maincontent">
  <div class="profile-page">
    <p>For more information, follow the links below.</p>
  </div>
  <div class="profile-page">
    <div class="greyButtonSmall">
      <ul>
        <li><a href="http://guidance.selfdirectedsupportscotland.org.uk/">Scottish Government website</a></li>
        <li><a href="http://www.lothiancil.org.uk/our-services/independent-living-support-services/self-directed-support-questions-and-resources/">Lothian Centre for Inclusive Living</a></li>
      </ul>
    </div>
  </div>
</div>
