<title>About SDS</title>

<div class="page-heading">
<h1>About Self Directed Support</h1>
</div>

<div class="options" id="maincontent">
  <div class="greyButtonSmall">
<ul>
<li><a href="http://www.lothiancil.org.uk/our-services/independent-living-support-services/self-directed-support-questions-and-resources/">Lothian Centre For Inclusive Living</a></li>
</ul>
</div>
</div>
