<title>Admin</title>

<div class="page-heading">
  <h1>Admin</h1>
</div>

<div id="maincontent">
  <div class="profile-page">
    <div class="options"><ul>
      <div class="greyButtonLarge">
        <li><a href="/workers/show_unapproved">Unapproved workers</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
