<h1>This is the Find-Care homepage!</h1>

<a href="/service_users">Service user login</a>

<br>

<a href="/workers">Worker login</a>

<br>

<a href="/workers/new">Apply to become a support worker</a>

<br>

<a href="/admin">Admin login</a>
