

<div class="centre" id="centre">
  <h1>Welcome to the Find Care homepage!</h1>
</div>


<div class="whiteButton standard" id="about">
  <h3><a href="/service_users"> Service User Home -></a></h3>
  <h3><a href="/workers"> Support Worker Home -></a></h3>
  <h3><a href="/admin"> Admin login -></a></h3>
</div>
