<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/circle.css"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="icon" href="/Find-Care-Icon.png"/>
    <meta charset="utf-8">
  </head>

  <body>
    <header>
        <nav>
          <div class="whiteButton">
          <ul>
            <li><a href="#maincontent">Skip to main content</a></li>
          <!-- <div id="logo"><a href="/"><i class="fa fa-home"></i></a></div> -->
            <!-- <li><a href="/"><i class="fa fa-home" id="logo"></i></a></li> -->
            <li><a href="/">Homepage</a></li>
            <li><a href="/service_users">Service user login</a></li>
            <li><a href="/workers">Support worker login</a></li>
            <li><a href="/about">About Self Directed Support</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
        </div>
        </nav>
    </header>

    <section id="maincontent">
      <%= yield %>
    </section>
  </body>
</html>
