<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find Care</title>
  </head>
  <body>
    <a href="/">Home</a><br>
    <section id="content">
<%= yield %>
</section>
  </body>
</html>
