<h1>Create Visit</h1>
<form method="POST" action="/visits">
  <label for="service-user-id">Service User ID:</label>
  <input id="service-user-id" type="number" name="service_user_id"/>
  <label for="worker-id">Worker ID:</label>
  <input id="worker-id" type="number" name="worker_id"/>
  <input type="submit" value="create visit"/>
</form>
