* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Verdana;
}

h1{
  font-size: 2.3em;
}

header {
  height: 45px;
}

#logo {
  width: 50px;
  height: 100%;
  padding-left: 0.4em;
  font-size: 2em;
}

nav {
  height: 100%;
  background-color: #e6f2ff;
}
nav a {
  color: inherit;
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 10px;
  border-left: 2px solid black;
}

li a {
line-height: 45px;
}

.page-heading h1{
  padding-top: 1em;
  width: 80%;
  margin: auto;
  text-align: center;
}

.options{
  padding-top: 1.5em;
  font-size: 1em;
}

.optionsHorizontal{
  padding-top: 1.5em;
}

.optionsHorizontal ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type:none;

}



.optionsHorizontal li{
  display: inline;
}

.optionsHorizontal ul a{
  color: inherit;
  text-decoration: none;
}


.optionsPageBottom{
  padding-top: 3em;
  font-size: 1.3em;
}

.options li{
  /* display: inline; */
  /* padding: 2em; */
}

.options ul{
  color: inherit;
  line-height: 2em;
  list-style-type: none;
}

.options ul a{
  color: inherit;
  text-decoration: none;
}

.whiteButton a {
  background-color: white;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.85em;
  opacity: 0.7;
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
}

.whiteButton a:hover {
  opacity: 1;
  background-color:  #e6f2ff;
  border: 0.05em solid black;
}

.greyButtonLarge a {
  background-color: #e6f2ff;
  border-radius: 50%;
  opacity: 1;
  padding: 1em;
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  /* border: 0.05em solid black; */
}

.greyButtonLarge a:hover {
  opacity: 1;
  background-color: white;
  border: 0.05em solid black;
}

.greyButtonSmall a {
  background-color: #e6f2ff;
  border-radius: 50%;
  opacity: 1;
  padding: 0.5em;
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  /* border: 0.05em solid black; */
}

.greyButtonSmall a:hover {
  opacity: 1;
  background-color: white;
  border: 0.05em solid black;
}


#maincontent {
  width: 80%;
  margin: auto;
  text-align: center;
}


.all-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.spacer {
      display: block;
  }

#progress-bar {
    color: white;
    width: 40em;
    background: #cccccc;
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

#progress-bar-percentage {
    background: #3063A5;
    padding: 5px 0px; */
    color: #FFF;
    text-align: center;
    height: 2em;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}


.centreimage img{
  padding-top: 1em;
  padding-bottom: 1em;
  width: 40%;
  display: block;
  margin: auto;
}

.form-section {
  display: flex;
  justify-content: space-between;
}

.form-overall {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.form-section h1{
  align
}

.radio-button input {
  width: 25px;
}

.profile-page{
  padding-top: 2em;
}

input[type=submit] {
  background-color: #e6f2ff;
  border-radius: 50%;
  opacity: 1;
  padding: 0.5em;
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
      cursor:pointer;
  font-size: inherit;
  font-weight: bold;
}

input[type=submit]:hover {
  opacity: 1;
  background-color: white;
  border: 0.05em solid black;
    }
