<h1>Create Service User</h1>
<form method="POST" action="/service_users">
  <label for="service-user-name">Name:</label>
  <input id="service-user-name" type="text" name="name"/>
  <label for="weekly-budget">Weekly Budget:</label>
  <input id="weekly-budget" type="number" name="weekly_budget"/>
  <input type="submit" value="Create Service User"/>
</form>
