<h1>Search options</h1>
<a href="/service_users/fuzzy_search?service_user_id=<%=@service_user.id()%>">Search by keyword</a>

<a href="/service_users/filtered_search?service_user_id=<%=@service_user.id()%>">Search by criteria</a>
