<title>Booking failed</title>

<div class="page-heading">
  <h1>Booking failed</h1>
</div>

<div id="maincontent">

  <div class="profile-page-section">
    <h3>Unfortunately you cannot afford this visit</h3>
    <div class="profile-page-section">
      <div class="greyButtonSmall">
        <a href="/service_users/<%=@service_user.id%>">click here to go back to your homepage</a>
      </div>
    </div>
  </div>
</div>
