<h1>Workers</h1>



  <% for worker in @workers %>
  <p> <a href="/workers/<%=worker.id()%>"><%= worker.get_info() %></a></p>
  <% end %>

  <br>

  <a href="/workers/new">APPLY TO BECOME A SUPPORT WORKER</a>
