<title>Support Worker login</title>


<div class="page-heading">
<h1>Support Worker login</h1>
</div>

<div class="options" id="maincontent">
<div class="greyButtonSmall">
<ul>
    <% for worker in @workers %>
<li><%=worker.name()%> &#8594 <a href="/workers/<%=worker.id()%>"> view your account </a>
</li>
<% end %>
</ul>
</div>


<div class="optionsPageBottom">
  <div class="greyButtonLarge">
  <a href="/workers/new"><strong>Apply to become a Support Worker</strong></a>
</div>
</div>
</div>
