<title>Account successfully created</title>

<div class="page-heading">
<h1>Account successfully created</h1>
</div>

  <div id="maincontent">
<h3>You will have to wait for admin approval before you can be booked.</h3>
<div class="profile-page">
  <div class="greyButtonSmall">
    <a href="/workers">Back to Support Worker homepage</a>
  </div>
</div>
</div>
